<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrental.car_rental">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".availbalenow"></activity>
        <activity android:name=".availablebetween" />
        <activity android:name=".andcustomerandemployye" />
        <activity android:name=".viewtranas" />
        <activity android:name=".transactionlist" />
        <activity android:name=".submitreservation" />
        <activity android:name=".returnreservation" />
        <activity android:name=".remove_Reservationtwo" />
        <activity android:name=".cancelreservation2" />
        <activity android:name=".remove_Reservation" />
        <activity android:name=".cancelreservation" />
        <activity android:name=".reservevehicledetails" />
        <activity android:name=".vehicledetails" />
        <activity android:name=".custvehcilelist" />
        <activity android:name=".updatevehicle" />
        <activity android:name=".carview" />
        <activity android:name=".AddVehicle" />
        <activity android:name=".updaterecordemployees" />
        <activity android:name=".updateemplist" />
        <activity android:name=".deleteemployeelist" />
        <activity android:name=".listofemployee" />
        <activity android:name=".Welcome_Employee" />
        <activity android:name=".Welcome_Customer" />
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>